[package]
name = "flutter-engine"
description = "Flutter engine embedder in rust"
version = "0.3.5"
authors = ["juju <gliheng@gmail.com>", "Sophie Tauchert <sophie@999eagle.moe>"]
keywords = ["flutter", "GUI"]
license = "MIT"
repository = "https://github.com/gliheng/flutter-rs"
readme = "crates-io.md"
edition = "2018"

[dependencies]
cty = "0.2.1"
flutter-engine-sys = { version = "0.3.5", path = "../flutter-engine-sys" }
gl = { version = "0.14.0", optional = true }
log = "0.4.8"
parking_lot = "0.10.0"
priority-queue = "0.6.0"
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.44"

[features]
texture-registry = ["gl"]
